#root {
  margin: 0 auto;
  text-align: center;
}

.question {
  padding-top: 1em;
}

.ci {
  display: inline-block;
  padding-right: 1em;
}

.zi {
  display: inline-block;
  padding-right: 0.1em;
}

.pronounciation {
  font-size: 1em;
}
.character {
  font-size: 2em;
}
.answer-correct {
  color: chartreuse;
}
.answer-incorrect {
  color: red;
}